.lds-dual-ring {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-right-color: transparent;
    border-left-color: transparent;
    @apply border-t-secondary border-b-secondary dark:border-t-secondary-dark dark:border-b-secondary-dark;
    animation: lds-dual-ring 1.2s linear infinite;
}

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  